
body {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/assets/cyberspace.jpg");
  color: #ffffff;
}

main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  border: 1px solid #303030;
  background: #212121;
  color: #ffffff;
  transition: 0.1s;
  border-radius: 10px;
}

button:hover {
  box-shadow: 0 0 10px #3fb504a2, 0 0 25px #007e4ca0, 0 0 50px #050000b9;
  transition-delay: 0.6s;
  text-shadow:
    0 0 1px #fff,
    0 0 3px #fff;
}

.center {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*! navbar code below */
#navbar *:hover {
  color: rgb(177, 231, 202);
}

.container-fluid * > *,
.container-fluid > *{
  color: rgb(255, 255, 255);
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  background-color: rgb(29, 47, 47);
  padding: 10px;
}

/*! projects list code below */
#projects-list > ul{
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

#projects {
  text-align: center;
}


.card {
  display: flex;
  margin: 1.5%;
  padding: 0;
  margin-bottom: 20px;
  border: rgba(244, 246, 240, 0.379) solid 2px;
  border-radius: 4%;
  flex-direction: column;
  align-items: center;
  background-color:darkcyan ;
  width: 170px;
  text-align: center;
}

.card-img-top {
  border-radius: 4%;
  border-bottom: black solid 2px;
  width: 165px;
  height: 220px;
  object-fit: cover;
} 

/*! project details code below */

#project-details {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, 25%);
}

#project-details > #project-detail-img {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

#project-detail-img{
  display: flex;
  height: 100%;
  justify-self: center;
  align-self: center;
}

#project-detail-img > img {
  display: flex;
  justify-self: center;
  align-self: center;
  border-radius: 4%;
  width: 170px;
  height: 280px;
  object-fit: cover;
  border: rgba(0, 255, 0, 0.721) solid 2px;
}

#project-details > section {
  display: grid;
  border-top: 1px dashed white;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 100%;
}

section > #project-detail-bttns {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: row;
}

#project-detail-bttns > * {
  margin: 10px;
}

#project-info {
  text-align: center;
  border-left: 2px dashed rgba(0, 255, 0, 0.503);
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

#project-info > div {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

/*! home page css */
#home {
  display: flex;
  align-items: center;
}

#home > img {
  max-height: 50%;
  max-width: 50%;
  border: 10px solid rgb(16, 41, 68);
}

/*! about page css */
#about {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(1, 20%);
  text-align: center;
}

#about > * h2 {
  font-size: 25px; 
}

#meetTheEngineer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#meetTheEngineer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
}

#book-title {
  font-size: medium;
}

#facts-list {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 6;
}

#facts-list > ul,
#books-list > ul {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

#books-list {
  margin-bottom: 150px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
}

#book-card, #fact-card {
  height: 110px;
  padding: 0;
  width: 45%;
}

#book-card {
  width: 70%;
  height: 160px;
  background-image: url('./assets/openBook.png');
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  color: black;
}

.flex {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%)
}

#aboutCard {
  width: 600px;
  color:antiquewhite;
  font-weight: bolder;
}

#picMargin {
  margin: 10px;
}

/*! css for technologies page */
#technologies{
  text-align: center;
}

#technology-detail {
  text-align:center;
}

#technologies-list > ul{
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

#technologies-list > ul > * {
  margin: .5%;
  color: rgba(255, 255, 255, 0.811);
  text-decoration: none;
}

#technology-card {
  display: flex;
  align-items:center;
  padding: 4px;
  width: 100px;
}

.tech-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

/*! css for contact page */

#contact {
  align-items: center;
  text-align: center;
}

#contact-me {
  display: flex;
  flex-direction: row;
  width: 370px;
  justify-content: space-between;
  margin-bottom: 10%;
}

#contact-me > * {
  margin:0;
}

th:first-child {
  text-align: left;
  padding-right: 20px;
}

th:nth-child(2) > * {
  width: 100%
}

/*! css for resume page */
#resume {
  text-align:center;
}
#resume > h2 {
  margin-top: 10%;
}

.resume {
  display: flex;
  height: 80vh;
}

object {
  width: 100%;
}

/*! css for footer element*/
#footer {

  text-align: center;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-evenly;
  background-color: rgba(31, 40, 32, 0.794);
}

#footer * {
  align-self: center;
  color: #fff;
  text-decoration: none;
}

#footer *:hover {
  color: rgb(177, 231, 202);
}

@media only screen and (min-width: 670px) {

  /*? media query for about page */
  #meetTheEngineer {
    grid-column-end: 2;
  }

  #facts-list {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  #books-list {
    margin-top: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
  }  

  #book-title {
    font-size: large;
  }
}

